.about-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: #f9f9f9;
  }
  
  .about-us-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-image img {
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
  }
  
  .about-us-content {
    flex: 1;
    max-width: 50%;
    padding-left: 50px;
  }
  
  .about-us-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .about-us-content p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
  }
  
  .more-about-btn {
    background-color: #0b8b57;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
  }
  
  .more-about-btn:hover {
    background-color: #0c664e;
  }
  