.video-carousel-container {
    max-width: 85%;
    background-color: #2EAF7D !important;
    border-radius: 12px;
    padding: 20px;
    margin: auto;
  }
  
  .video-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }
  
  .video-description {
    font-size: 0.95rem;
    color: white;
  }
  
  .video-frame {
    border-radius: 10px;
  }
  